.img1 {
    max-width: 1000px;
    height: 650px;
    margin: auto;
}

.img2 {
    max-width: 1000px;
    height: 650px;
    margin: auto;
}

.img3 {
    max-width: 1000px;
    height: 650px;
    margin: auto;
}