.img1 {
    max-width: 1000px;
    height: 650px;
    margin: auto;
    z-index: -1;
}

.img2 {
    max-width: 1000px;
    height: 650px;
    margin: auto;
    z-index: -1;
}

.img3 {
    max-width: 1000px;
    height: 650px;
    margin: auto;
    z-index: -1;
}

.background-color {
    background-color: #060b26;
}
