.product-container {
    display: inline-flex;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #060b26;
    color: white;
    width: 48vw;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4%;
    border: black;
    border-style: double;
    text-align: center;
    margin: 3px
}

.height {
    height: auto;
}

.product-container img {
    width: 100%;
    border-radius: 4%;
}

.white-text {
    color: white;
}

/* .add-to-cart {
    background-color: white;
    color:black;
    height: fit-content;
    border-radius: 10px;
    padding: 4px;
} */

.item-contents {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.white-text:hover {
    text-decoration: underline;
    color: white
}

.price-div {
    width: 100%;
}