.scrollmenu {
    background-color: #060b26;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #777;
    color: white;
    text-decoration: none;
}
